.linesMainpage{
    height:auto;
    width:auto;
    padding-top:5rem;
}

.lines{
    height:2rem;
    width:50%;
    background-color:#413D45;
    display:flex;
    justify-content: center;
    align-items:center;
    opacity: 50%;
    
}