
.cardfeature{
    width:40rem;
    min-height:50rem;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    flex-wrap:wrap;
    gap:10rem;
    background-color:#FAF6F4;
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px 0px;
    transition: all .2s ease-in-out;
   
}
.cardfeature:hover{
    transform: scale(1.1);
}

.cardfeature__header{
    height:10%;
}

.cardfeature__header__title{
    font-size:3rem;
}

.cardfeature__section{
    height:90%;
}

.cardfeature__section__figure__image{
    height:20rem;
    width:auto;
}
