.Featuredmainpage {
    min-height: 80vh;
    width: 100%;
    background-color: #ffff;
}

.Featuredmainpage__header__title {
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-size: 4.5rem;
    padding:3rem;
}

.Featuredmainpage__main{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    flex-direction: row;
    gap:5rem;
}