.Productsection__mainpage {
    height: 100%;
    width: 100%;
    background: #FAF6F4;
    padding: 5rem;
}

.productsection__header__title {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
.productsection_kaarten{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:10rem;
}

@media screen and (max-width:1000) {
    .productsection__header__title {
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}
}
