.dashboard{
    padding:2.5rem;
    width:100%;
    min-height:100rem;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    gap:2.5rem;
    border-radius:1rem;
    color:black;
    
}
@media screen and (max-width:400) {
    .dashboard{
        width:100%;
        padding-left:5rem;
        min-height:100rem;
        display:flex;
        flex-direction: row;
        justify-content: space-around;
        
        gap:2rem;
        border-radius:1rem;
        color:black;
        
    }
}

